<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>App to Predict the Net Energy Output of a Power Plant</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict the Net Energy Output of a Power Plant</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="AT" placeholder="Ambient Temperature (range : 1.81°C and 37.11°C)" required="required" /><br>
    	<input type="text" name="V" placeholder="Exhaust Vacuum (range : 25.36-81.56 cm Hg)" required="required" /><br>
        <input type="text" name="RH" placeholder="Relative Humidity (range : 25.56% to 100.16%)" required="required" /><br>
        <input type="text" name="AP" placeholder="Ambient Pressure (range : 992.89-1033.30 mb)" required="required" /><br>
        

        <button type="Submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
